<% include partials/header %>

<style>
    #particles-js canvas{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    body:not(.navbar) {
        font-family: Roboto;
        background-color: #ffffff;
    }

    p{
        font-weight: 100;
    }

    i {
        font-size: 100px;
        color: gray;
        -webkit-transition: -webkit-transform 2s ease-in-out;
    }
    .connect {
        font-size: 50px;
    }
    #main {
        width: 100%;
    }

    #languages {
        margin-top: 2%;
    }

    h1 {
        font-family: 'Merriweather Sans', sans-serif;
        color: black;
    }

    h2, #caption {
        color: black;
    }

    .anim{
        -webkit-transform:translate(0,100px);
    }

    .icon {
        width: 150px;
        float: left;
        margin: 1% 1% 1% 1%;
        cursor:hand;
    }  

    i {
        font-size: 150px;
    }
    #main {
        padding-top: 0%;
    }

    li{
        font-weight: 800;
    }

    * {
        /*
                border: solid 1px black;
        */
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    a{
        outline: none;
        border: none;
    }
    /*    a:hover {
            color: #FFFFFF;
        }*/

    #name{
        margin-top: 1%;
    }

    #linkedin {
        color: gray;
    }
    #linkedin:hover {
        color: #0077B5;
    }
    #github{
        color: gray;
    }
    #github:hover {
        color: black;
    }
    #email {
        color: gray;
    }
    #email:hover {
        color: #dd4b39;
    }
    #stackoverflow{
        color: gray;
    }
    #stackoverflow:hover{
        color: #f48024;
    }
    .tech:hover {
        color: rgba(255, 0, 0, 0);
    }
    #tools{
        margin-top: 5%;
    }

    #contact {
        margin-top: 5%;
    }

    .row {
        padding-top: 2%;
    }

    img {
        width: 60px;
    }
    .white {
        color: white;
    }

    #Linux:hover {
        color: white;
    }


</style>

<script>
    window.onload = function() {
        var lang = "Languages I know:";
        var tool = "Tools I work with:";

        $("i").hover(function(){
            console.log($(this).attr("class"));
            if(($(this).attr("class").includes("devicon-linux-plain"))){
                $(this).toggleClass("white");
            }
            else{
                $(this).toggleClass("colored");
            }
        });

        $(".icon").hover(function(){
            $(this).toggleClass("tada");
        });

        $(".lang").on({
            mouseenter: function () {
                $("#languagetext").text($(this).attr('id'));
            },
            mouseleave: function () {
                $("#languagetext").text(lang);
            }
        });

        $(".tool").on({
            mouseenter: function () {
                $("#tooltext").text($(this).attr('id'));
            },
            mouseleave: function () {
                $("#tooltext").text(tool);
            }
        });



        var lines = ["Coder", "Software Developer", "Hacker", 'Learner', "Tinkerer", "Hackathon Enthusiast", "Computer Scientist", "Innovator", "Student", "Creator", "Blockchain Enthusiast", "Problem solver"  ]
        function pickOne(lines) {
            console.log(Math.random() * lines.length);
        }

        var picked = []

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
        }

        var intervalID = setInterval(
            function(){
                var index = getRandomInt(0, lines.length);
                while(picked.includes(index)){
                    index = getRandomInt(0, lines.length);
                    if(picked.length == lines.length){
                        index = getRandomInt(0, lines.length);
                        picked = [];
                        break;
                    }
                }
                picked.push(index);
                $("#caption").text(lines[index]);

                //$('#caption').textShuffle().play();
                $('#caption').textShuffle({

                    // custom characters
                    chars: "01#/&%$?_-%*",

                    // animation speed
                    animationSpeed: 15,

                    // trigger element
                    bindEvent: "mouseover"

                }).play();
                console.log(lines[index]);
                //console.log(getRandomInt(0, lines.length));
            }
            , 2000);

        $("#Python").click(function(){
            // $('#python-button').trigger('click');
            $('#exampleModal').modal('show');
        });

        $("#Android").click(function(){
            // $('#python-button').trigger('click');
            $('#androidModal').modal('show');
        });

        $("#HTML").click(function(){
            // $('#python-button').trigger('click');
            $('#htmlModal').modal('show');
        });

        $("#Node").click(function(){
            // $('#python-button').trigger('click');
            $('#nodeModal').modal('show');
        });

        $("#Heroku").click(function(){
            // $('#python-button').trigger('click');
            $('#herokuModal').modal('show');
        });

        

    }
</script>

<script type="text/javascript" src="js/particles.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<div>
    <h1 class="text-center" id="name"><img src="code.png" alt=""> Kumail Naqvi</h1>
    <h3 class="text-center" id="caption">Coder</h3>
</div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>Crypto price converter</li>
                <li>Todo web app</li>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="jsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>Crypto price converter</li>
                <li>Todo web app</li>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="herokuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Things I've made with Heroku: </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>Crypto price converter</li>
                <a href="https://github.com/kumailn/CryptoApp">https://github.com/kumailn/CryptoApp</a>
                <li>Todo web app</li>
                <a href="https://github.com/kumailn/todoApp">https://github.com/kumailn/todoApp</a>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="androidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Android projects I've made: </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li> <a href="https://github.com/kumailn/androidScientificCalculator">NuCalculator</a>   </li>
                <p>An elegant, customizable, feature packed scientific calculator app for Android. Published on the Google Play Store, 100s of active users and 1000s of downloads in total.</p>
                <li> <a href="https://github.com/kumailn/clipBuddy">clipBuddy</a> </li>
                <p>A discreet app for Android which runs in the background and displays relevant information/ actions in popup bubbles when certain items are copied to a users clipboard. API prize winner at Hack the North 2017 at the University of Waterloo, ON, CA.</p>
                <li> <a href="https://github.com/kumailn/eyeAware">eyeAware</a> </li>
                <p>An app that helps blind users 'see' by describing the world around them. Built using Google's Cloud Vision and Natural Language processing API. Built at yHack 2017 at Yale University, CT, USA.</p>
                <li> <a href="https://github.com/kumailn/BudgetApp">BudgetBuddy</a></li>
                <li>alarmClock</li>
                <a href="https://github.com/kumailn/alarmClock">https://github.com/kumailn/alarmClock</a>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="htmlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>PaperTrail</li>
                <a href="https://github.com/kumailn/PaperTrail">https://github.com/kumailn/PaperTrail</a>
                <li>NuCalculator <a href="https://github.com/kumailn/androidScientificCalculator">https://github.com/kumailn/androidScientificCalculator</a></li>
                <li>clipBuddy </li>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="bootstrapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>NuCalculator <a href="https://github.com/kumailn/androidScientificCalculator">https://github.com/kumailn/androidScientificCalculator</a></li>
                <li>clipBuddy </li>
                <li>eyeAware                                           <a href="https://github.com/kumailn/eyeAware">https://github.com/kumailn/eyeAware</a></li>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="nodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Things I've made with NodeJS: </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>This website!</li>
                <li>PaperTrail</li>
                <a href="https://github.com/kumailn/PaperTrail">https://github.com/kumailn/PaperTrail</a>

            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
              
<div class="container" id="main">
    
    <div id="languages">
        <h2 class="text-center" id="languagetext">Languages I know: </h2>
        <div class="row">
            <div class="animated icon col lang text-center" id="Python">
                <i role="button" data-toggle="modal" data-target="#exampleModal" class="devicon-python-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="JavaScript">
                <a href="https://developer.mozilla.org/bm/docs/Web/JavaScript" class="tech "><i class="devicon-javascript-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="Java">
                <a href="https://java.com/en/" target="_blank" class="tech"><i class="devicon-java-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="HTML">
                <i class="devicon-html5-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="C++">
                <i class="devicon-cplusplus-plain"></i></a>
            </div>

        </div>
    </div>
    <div id="tools">
        <h2 class="text-center" id="tooltext">Tools I work with:</h2>

        <div class="row">
            <div class="animated icon col tool text-center" id="Node">
                <i class="devicon-nodejs-plain animated"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="Express">
                <a href="https://expressjs.com/" target="_blank" class="tech"><i class="devicon-express-original"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="Android">
                <i class="devicon-android-plain"></i></a>
            </div>


            <div class="animated icon col tool text-center" id="Bootstrap">
                <a href="https://getbootstrap.com/" target="_blank" class="tech"><i class="devicon-bootstrap-plain"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="jQuery">
                <a href="https://jquery.com/" target="_blank" class="tech"><i class="devicon-jquery-plain"></i></a>
            </div>


        </div>
        <div class="row" >
            <div class="animated icon col text-center tool" id="Git">
                <a href="https://git-scm.com/" target="_blank" class="tech"><i class="devicon-git-plain"></i></a>
            </div>

            <div class="animated icon col text-center tool" id="React">
                <i class="devicon-react-original"></i>
            </div>
            <div class="animated icon col text-center tool" id="Heroku">
                <i class="devicon-heroku-original"></i></a>
            </div>
            <div class="animated icon col text-center tool" id="AWS">
                <a href="https://aws.amazon.com/" target="_blank" class="tech"><i class="devicon-amazonwebservices-original"></i></a>
            </div>

            <div class="animated icon col text-center tool" id="MongoDB">
                <a href="https://www.mongodb.com/" target="_blank" class="tech"><i class="devicon-mongodb-plain"></i></a>
            </div>
        </div>

        <div id="contact">
            <h2 class="text-center">Connect with me:</h2>
            <div class="row">
                <div class="connect col text-center" >
                    <a href="https://www.linkedin.com/in/kumailn/" id="linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="connect col text-center">
                    <a href="https://github.com/kumailn" id="github"><i class="fab fa-github"></i></a>
                </div>
                <div class="connect col text-center">
                    <a href="mailto:kumailmn@gmail.com" id="email"><i class="far fa-envelope"></i></a>
                </div>
                <div class="connect col text-center" >
                    <a href="https://stackoverflow.com/users/7452052/kumail" id="stackoverflow"><i class="fab fa-stack-overflow animated"></i></a>
                </div>
            </div>
        </div>
    </div>



</div>

<% include partials/footer %>
