<% include partials/header %>

<style>
    #particles-js canvas{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    html, body, {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    /* body:not(.navbar) {
        font-family: Roboto;
        background-color: #ffffff;
    } */

    p{
        font-weight: 100;
    }

    i {
        font-size: 115px;
        color: gray;
        -webkit-transition: -webkit-transform 2s ease-in-out;
    }

    .icon {
        float: left;
        margin: 1% 1% 1% 1%;
    }  

    
    .connect {
        font-size: 50px;
    }
    #main {
        width: 100%;
    }

    #languages {
        margin-top: 2%;
    }

    h1 {
        font-family: 'Merriweather Sans', sans-serif;
        color: gray;
    }

    h2, #caption {
        color: gray;
    }

    .anim{
        -webkit-transform:translate(0,100px);
    }


    #main {
        padding-top: 0%;
    }

    li{
        font-weight: 800;   
    }

    * {
        /*
                border: solid 1px black;
        */
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    a{
        outline: none;
        border: none;
    }
    /*    a:hover {
            color: #FFFFFF;
        }*/



    #name{
        margin-top: 1%;
        font-weight: 800;
    }

    #linkedin {
        color: gray;
    }
    #linkedin:hover {
        color: #0077B5;
    }
    #github{
        color: gray;
    }
    #github:hover {
        color: black;
    }
    #email {
        color: gray;
    }
    #email:hover {
        color: #dd4b39;
    }
    #stackoverflow{
        color: gray;
    }
    #stackoverflow:hover{
        color: #f48024;
    }
    .tech:hover {
        color: rgba(255, 0, 0, 0);
    }
    #tools{
        margin-top: 5%;
    }

    #contact {
        margin-top: 5%;
    }

    .row {
        padding-top: 2%;
    }

    #resume{
        color: #1464F4;
    }

    img {
        width: 60px;
    }
    .white {
        color: white;
    }


</style>

<script>
    window.onload = function() {
        var lang = "Languages I know:";
        var tool = "Tools I work with:";

        $("i").hover(function(){
            console.log($(this).attr("class"));
                $(this).toggleClass("colored");
        });

        $(".icon").hover(function(){
            $(this).toggleClass("tada");
        });

        $(".lang").on({
            mouseenter: function () {
                $("#languagetext").text($(this).attr('id'));
            },
            mouseleave: function () {
                $("#languagetext").text(lang);
            }
        });

        $(".tool").on({
            mouseenter: function () {
                $("#tooltext").text($(this).attr('id'));
            },
            mouseleave: function () {
                $("#tooltext").text(tool);
            }
        });



        var lines = ["Coder", "Software Developer", "Hacker", 'Learner', "Tinkerer", "Hackathon Enthusiast", "Computer Scientist", "Innovator", "Student", "Creator", "Blockchain Enthusiast", "Problem solver", "Leader"]
        function pickOne(lines) {
            console.log(Math.random() * lines.length);
        }

        var picked = []

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
        }

        var intervalID = setInterval(
            function(){
                var index = getRandomInt(0, lines.length);
                while(picked.includes(index)){
                    index = getRandomInt(0, lines.length);
                    if(picked.length == lines.length){
                        index = getRandomInt(0, lines.length);
                        picked = [];
                        break;
                    }
                }
                picked.push(index);
                $("#caption").text(lines[index]);

                //$('#caption').textShuffle().play();
                $('#caption').textShuffle({

                    // custom characters
                    chars: "01#/&%$?_-%*",

                    // animation speed
                    animationSpeed: 15,

                    // trigger element
                    bindEvent: "mouseover"

                }).play();
                console.log(lines[index]);
                //console.log(getRandomInt(0, lines.length));
            }
            , 2000);

/*         $("#Python").click(function(){
            // $('#python-button').trigger('click');
            $('#exampleModal').modal('show');
        });

        $("#Android").click(function(){
            // $('#python-button').trigger('click');
            $('#androidModal').modal('show');
        });

        $("#HTML").click(function(){
            // $('#python-button').trigger('click');
            $('#htmlModal').modal('show');
        });

        $("#Node").click(function(){
            // $('#python-button').trigger('click');
            $('#nodeModal').modal('show');
        });

        $("#Heroku").click(function(){
            // $('#python-button').trigger('click');
            $('#herokuModal').modal('show');
        }); */

        tippy('#email');
        tippy('#stackoverflow');
        tippy('#github');
        tippy('#linkedin');
        tippy('#resume');


        

    }
</script>

<script type="text/javascript" src="js/particles.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<div>
    <h1 class="text-center" id="name"><img src="code.png" alt=""> Kumail Naqvi</h1>
    <h3 class="text-center" id="caption">Coder</h3>
</div>



  <div class="modal fade" id="jsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>Crypto price converter</li>
                <li>Todo web app</li>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="nodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Things I've made with Node.js: </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li><a href="https://github.com/kumailn/PaperTrail">PaperTrail</a></li>
                <p>A blockchain based scientific journal, with its own crypto-currency, that incentivizes legitimacy, transparency, and peer review. Built on the Ethereum blockchain with Truffle, Zeppelin, and IPFS. Winner at HackPrinceton spring '18 at Princeton University, NJ, USA.</p>
                <li><a href="https://github.com/kumailn/CryptoApp">CryptoApp</a></li>
                <p>An instant crypto price converter based on Regex</p>
                <li><a href="https://github.com/kumailn/todoApp">Todo App</a></li>
                <p>A simple todo app that keeps track of tasks</p>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="androidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Android projects I've made: </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li> <a href="https://github.com/kumailn/androidScientificCalculator">NuCalculator</a>   </li>
                <p>An elegant, customizable, feature packed scientific calculator app for Android. Published on the Google Play Store, 100s of active users and 1000s of downloads in total.</p>
                <li> <a href="https://github.com/kumailn/clipBuddy">clipBuddy</a> </li>
                <p>A discreet app for Android which runs in the background and displays relevant information/ actions in popup bubbles when certain items are copied to a users clipboard. API prize winner at Hack the North 2017 at the University of Waterloo, ON, CA.</p>
                <li> <a href="https://github.com/kumailn/eyeAware">eyeAware</a> </li>
                <p>An app that helps blind users 'see' by describing the world around them. Built using Google's Cloud Vision and Natural Language processing API. Built at yHack 2017 at Yale University, CT, USA.</p>
                <li> <a href="https://github.com/kumailn/BudgetApp">BudgetBuddy</a></li>
                <p>A smart budgeting app that helps you keep track of expenses and purchases by notifing you how much you have left to sepnd on a particular catagory when it detects you are in a store. Built with the Google Places API</p>
                <li><a href="https://github.com/kumailn/alarmClock">alarmClock</a></li>
                <p>A really simple alarm clock</p>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="htmlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>PaperTrail</li>
                <a href="https://github.com/kumailn/PaperTrail">https://github.com/kumailn/PaperTrail</a>
                <li>NuCalculator <a href="https://github.com/kumailn/androidScientificCalculator">https://github.com/kumailn/androidScientificCalculator</a></li>
                <li>clipBuddy </li>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="bootstrapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li>NuCalculator <a href="https://github.com/kumailn/androidScientificCalculator">https://github.com/kumailn/androidScientificCalculator</a></li>
                <li>clipBuddy </li>
                <li>eyeAware                                           <a href="https://github.com/kumailn/eyeAware">https://github.com/kumailn/eyeAware</a></li>
                <li>This website!</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


              
<div class="container" id="main">
    
    <div id="languages">
        <h2 class="text-center" id="languagetext">Languages I know: </h2>
        <div class="row">
            <div class="animated icon col lang text-center" id="Python">
                <i role="button" data-toggle="modal" data-target="#exampleModal" class="devicon-python-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="JavaScript">
                <i class="devicon-javascript-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="Java">
                <i class="devicon-java-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="HTML">
                <i class="devicon-html5-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="C++">
                <i class="devicon-cplusplus-plain"></i></a>
            </div>

        </div>
    </div>
    <div id="tools">
        <h2 class="text-center" id="tooltext">Tools I work with:</h2>

        <div class="row">
            <div class="animated icon col tool text-center" id="Node">
                <i class="devicon-nodejs-plain animated"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="Express">
                <i class="devicon-express-original"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="Android">
                <i class="devicon-android-plain"></i></a>
            </div>


            <div class="animated icon col tool text-center" id="Bootstrap">
                <i class="devicon-bootstrap-plain"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="jQuery">
                <i class="devicon-jquery-plain"></i></a>
            </div>


        </div>

        <div class="row" >
            <div class="animated icon col text-center tool" id="Git">
                <i class="devicon-git-plain"></i></a>
            </div>

            <div class="animated icon col text-center tool" id="React">
                <i class="devicon-react-plain"></i>
            </div>
            <div class="animated icon col text-center tool" id="Vuejs">
                <i class="devicon-vuejs-plain"></i></a>
            </div>
            <div class="animated icon col text-center tool" id="Heroku">
                <i class="devicon-heroku-original"></i></a>
            </div>
            <div class="animated icon col text-center tool" id="MongoDB">
                <i class="devicon-mongodb-plain"></i></a>
            </div>
        </div>

        <div id="contact">
            <h2 class="text-center">Connect with me:</h2>
            <div class="row">
                <div class="connect col text-center" >
                    <a href="https://www.linkedin.com/in/kumailn/" id="linkedin"title="Find me on LinkedIN">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="connect col text-center">
                    <a href="https://github.com/kumailn" id="github" title="Check out my GitHub"><i class="fab fa-github"></i></a>
                </div>
                <div class="connect col text-center">
                    <a href="mailto:kumailmn@gmail.com" id="email" title="Email Me"><i class="far fa-envelope"></i></a>
                </div>
                <div class="connect col text-center" >
                    <a href="https://stackoverflow.com/users/7452052/kumail" id="stackoverflow" title="Find me on StackOverflow"><i class="fab fa-stack-overflow animated"></i></a>
                </div>
                <div class="connect col text-center">
                    <i id="resume" title="Check out my resume" class="far fa-file-alt"></i></a>
                </div>
            </div>
        </div>
    </div>



</div>

<% include partials/footer %>
