<% include partials/header %>

<style>
    i {
        font-size: 100px;
        color: gray;
        -webkit-transition: -webkit-transform 2s ease-in-out;
    }
    .connect {
        font-size: 50px;
    }
    #main {
        width: 100%;
    }
    h1 {
        font-family: 'Merriweather Sans', sans-serif;
    }

    .anim{
        -webkit-transform:translate(0,100px);
    }

    .icon {
        width: 100px;
        float: left;
        margin: 1% 1% 1% 1%;
    }

    #main {
        padding-top: 0%;
    }

    * {
/*
        border: solid 1px black;
*/
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    a{
        color: gray;
    }
/*    a:hover {
        color: #FFFFFF;
    }*/
    #name{
        margin-top: 1%;
    }

    #linkedin {
        color: gray;
    }
    #linkedin:hover {
        color: #0077B5;
    }
    #github{
        color: gray;
    }
    #github:hover {
        color: black;
    }
    #email {
        color: gray;
    }
    #email:hover {
        color: #dd4b39;
    }
    #stackoverflow{
        color: gray;
    }
    #stackoverflow:hover{
        color: #f48024;
    }
    .tech:hover {
        color: #FFFFFF;
    }
    #tools{
        margin-top: 5%;
    }
    #contact {
        margin-top: 5%;
    }

    .row {
        padding-top: 2%;
    }
    
    img {
        width: 60px;
    }


</style>

<script>
    window.onload = function() {
        var lang = "Languages I know:";
        var tool = "Tools I work with:";

        $("i").hover(function(){
            $(this).toggleClass("colored");
        });

        $(".icon").hover(function(){
            $(this).toggleClass("tada");
        });

        $(".lang").on({
            mouseenter: function () {
                $("#languagetext").text($(this).attr('id'));
            },
            mouseleave: function () {
                $("#languagetext").text(lang);
            }
        });

        $(".tool").on({
            mouseenter: function () {
                $("#tooltext").text($(this).attr('id'));
            },
            mouseleave: function () {
                $("#tooltext").text(tool);
            }
        });

        var lines = ["Coder", "Software Developer", "Hacker", 'Learner', "Tinkerer", "Hackathon Enthusiast", "Computer Scientist", "Innovator", "Student", "Creator"]
        function pickOne(lines) {
            console.log(Math.random() * lines.length);
        }

        var picked = []

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
        }

        var intervalID = setInterval(
            function(){
                var index = getRandomInt(0, lines.length);
                while(picked.includes(index)){
                    index = getRandomInt(0, lines.length);
                    if(picked.length == lines.length){
                        index = getRandomInt(0, lines.length);
                        picked = [];
                        break;
                    }
                }
                picked.push(index);
                $("#caption").text(lines[index]);

                //$('#caption').textShuffle().play();
                $('#caption').textShuffle({

                    // custom characters
                    chars: "01#/&%$?_-%*",

                    // animation speed
                    animationSpeed: 15,

                    // trigger element
                    bindEvent: "mouseover"

            }).play();
                console.log(lines[index]);
                //console.log(getRandomInt(0, lines.length));
            }
        , 2000);


    }



</script>
<div>
    <h1 class="text-center" id="name"><img src="code.png" alt=""> Kumail Naqvi</h1>
    <h3 class="text-center" id="caption">Coder</h3>
</div>
<div class="container" id="main">

    <div id="languages">
        <h2 class="text-center" id="languagetext">Languages I know: </h2>
        <div class="row">
            <div class="animated icon col lang text-center" id="Python">
                <a href="https://www.python.org/" class="tech"><i class="devicon-python-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="JavaScript">
                <a href="https://developer.mozilla.org/bm/docs/Web/JavaScript" class="tech "><i class="devicon-javascript-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="Java">
                <a href="https://java.com/en/" target="_blank" class="tech"><i class="devicon-java-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="HTML">
                <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML" class="tech"><i class="devicon-html5-plain"></i></a>
            </div>
            <div class="animated icon col lang text-center" id="CSS">
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" class="tech"><i class="devicon-css3-plain"></i></a>
            </div>

        </div>
    </div>
    <div id="tools">
        <h2 class="text-center" id="tooltext">Tools I work with:</h2>

        <div class="row">
            <div class="animated icon col tool text-center" id="Node.js">
                <a href="https://nodejs.org/en/" target="_blank" class="tech"><i class="devicon-nodejs-plain animated"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="Express">
                <a href="https://expressjs.com/" target="_blank" class="tech"><i class="devicon-express-original"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="Android">
                <a href="https://www.android.com/" target="_blank" class="tech"><i class="devicon-android-plain"></i></a>
            </div>


            <div class="animated icon col tool text-center" id="Bootstrap">
                <a href="https://getbootstrap.com/" target="_blank" class="tech"><i class="devicon-bootstrap-plain"></i></a>
            </div>

            <div class="animated icon col tool text-center" id="jQuery">
                <a href="https://jquery.com/" target="_blank" class="tech"><i class="devicon-jquery-plain"></i></a>
            </div>


        </div>
        <div class="row" >
            <div class="animated icon col text-center tool" id="Git">
                <a href="https://git-scm.com/" target="_blank" class="tech"><i class="devicon-git-plain"></i></a>
            </div>

            <div class="animated icon col text-center tool" id="Linux">
                <i class="devicon-linux-plain" class="tech"></i>
            </div>
            <div class="animated icon col text-center tool" id="Heroku">
                <a href="https://www.heroku.com/" target="_blank" class="tech"><i class="devicon-heroku-original"></i></a>
            </div>
            <div class="animated icon col text-center tool" id="AWS">
                <a href="https://aws.amazon.com/" target="_blank" class="tech"><i class="devicon-amazonwebservices-original"></i></a>
            </div>

            <div class="animated icon col text-center tool" id="MongoDB">
                <a href="https://www.mongodb.com/" target="_blank" class="tech"><i class="devicon-mongodb-plain"></i></a>
            </div>
        </div>

        <div id="contact">
            <h2 class="text-center">Connect with me:</h2>
            <div class="row">
                <div class="connect col text-center" >
                    <a href="https://www.linkedin.com/in/kumailn/" id="linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="connect col text-center">
                    <a href="https://github.com/kumailn" id="github"><i class="fab fa-github"></i></a>
                </div>
                <div class="connect col text-center">
                    <a href="mailto:kumailmn@gmail.com" id="email"><i class="far fa-envelope"></i></a>
                </div>
                <div class="connect col text-center" >
                    <a href="https://stackoverflow.com/users/7452052/kumail" id="stackoverflow"><i class="fab fa-stack-overflow animated"></i></a>
                </div>
            </div>
        </div>
    </div>



</div>

<% include partials/footer %>
